body {
	width: 75%;
	margin: 3% auto 0 auto;
}
h1, h2, h3, h4, h5, h6, nav a {
	font-family: 'Quicksand', sans-serif;
	font-weight: 900;
}
p, date, section a {
	font-family: 'Open Sans', sans-serif;
}
header a img {
	display: inline;
	float: left;
	border-radius: 50%;
	margin-bottom: 2em;
}
header h1 {
	float: left;
	margin-top: 2em;
	padding-left: 2em;
}
nav {
	float: right;
	margin-right: 5em;
}
article {
	clear: both;
	margin-top: 2em;
	margin-left: 15.3em;
}
nav ul {
	margin-top: 4.85em;
}
nav li {
	display: inline;
	list-style-type: none;
	padding-right: 3em;
}
nav li a {
	text-decoration: none;
	color: #000;
}
nav li a:hover {
	text-decoration: underline;
}
date {
	font-size: .8em;
}
article h2 {
	margin-bottom: 0;
}
h2#contact {
	margin-bottom: .5em;
}
article h3 {
	margin: .5em 0 0 0;
}
article p {
	margin-top: .3em;
	font-size: .9em;
}
article section {
	margin-bottom: .5em;
}
section a {
	text-decoration: none;
	color: #000;
}
section a:hover {
	text-decoration: underline;
}
footer p {
	font-size: .75em;
	margin-top: 3em;
	margin-left: 1.75em;
}
